include README.md
include LICENSE
include CHANGELOG.md
recursive-include geomanim/assets *.json *.geojson *.jpg *.png
recursive-include examples *.py
recursive-include docs *.rst *.md *.py
global-exclude __pycache__
global-exclude *.py[co]
